.DestinationDetails__items__destination {
  height: 115px;
  background: center center no-repeat;
  background-size: 100%;
  text-align: center;
  max-height:0;
  overflow: hidden;
  transition: max-height 2.5s 1s ease-out;
}

.DestinationDetails__items__destination__details {
  padding-top: 20px;
}

.DestinationDetails__items__destination__details__duration,
.DestinationDetails__items__destination__details__city,
.DestinationDetails__items__destination__details__country {
  text-align: center;
  background-color: rgba(245,140,92,0.9);
  color: white;
  font-size: 0.8em;
  display:inline-block;
  margin: 1px;
  padding: 2px;
}

.DestinationDetails__items__destination__details__city {
  font-size: 1.5em;
}