@import 'variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: 16px;
  color: $color-black;
  -webkit-font-smoothing: antialiased;

  overflow: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.twinkling-bg, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  transition: transform 350ms;

  &.hide{
    transform: translate3d(0,-100vh,0);
  }
}

.twinkling-bg{
  background-color: white;
  z-index:5;
}

.twinkling{
  opacity: 1;
  background:transparent url(/img/twinkling.png) repeat top center;
  z-index:6;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.search {
  background: url(/img/bg.png) center bottom no-repeat;
  background-size: cover;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  transition: transform 350ms;
  z-index: 10;

  &.min {
    transform: translate3d(0,-100vh,0);

    form {
      transition: transform 700ms;
      transform: translate3d(-50%,100vh,0);

      .wrapper {
        padding: 15px 0;
        background-color: white;
        transition: background-color 0 300ms;
        box-shadow: 0px 2px 0px rgba(0,0,0,0.1);

        input {
          background: transparent;
          transition: background-color 0 300ms;
        }
      }

      .location {
        border-bottom-left-radius: 5px;
      }

      .wrapper input {
        border-right: 1px solid $color-light-gray;
      }

      button {
        border-bottom-right-radius: 5px;
        box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
      }
    }
  }

  h1, form {
    left: 50%;
    transform: translate3d(-50%,46vh,0);
    min-width: 892px;
  }

  h1 {
    position: absolute;
    margin:0;
    margin-top: -100px;
    color: white;
    font-size: 3.5em;
    text-align: center;
  }

  form {
    position: absolute;
    text-align: center;


    .wrapper:before{
      position: relative;
      left: 15px;
      font-family: 'FontAwesome';
      color: $color-orange;
      content: "\f133";
      z-index: 10;
    }

    .wrapper:first-child{
      &:before{
        content: "\f041";
      }
      input{
        width: 340px;
      }
    }

    .wrapper div {
      display: inline-block;
    }

    input, button {
      font-family: $font-family;
      border: 0;
      font-size: 1em;
      width: 180px;
      padding: 15px;
      outline: 0;
    }

    button {
      cursor: pointer;
      color: white;
      background-color: $color-orange;
      transition: all 300ms;
    }

    button:hover {
      background-color: $color-orange-dark;
    }

    input {
      position: relative;
      left: -10px;
      padding-left: 35px;
    }
  }
}
